/* (c) @Mikhalych. reader.css */

* {
    box-sizing: border-box;
}

body {
    top: 0 !important;
    bottom: 0 !important;
    margin: 0;
    padding: 0;
    font-family: 'standard', sans-serif;
    font-size: 1.2rem;
    background-color: #ddd0c0;
}

.progress-container {
    border-top: 1px solid #bdb090;
    position: relative;
}

.progress {
    background-color: #bdb090;
    width: 0;
    min-height: 5px;
    max-height: 5px;
}

.content {
    position: relative;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #ddd0c0;
    margin: 0;
    color: #3d3010;
    vertical-align: middle;
    transition: 0.8s ease-in-out;
}

main {
    position: relative;
    overflow: hidden;
    flex: 1;
}

footer {
    background: #ddd0c0;
    border-top: #bdb090 5px solid;
    width: 100%;
    margin: 0;
    font-size: .8rem;
    padding: 4px;
    transition: 1s ease;
}

.footer {
    margin: 0 auto;
}

.main-pane {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    /* pointer-events: none; */
}


/************ Главное меню ************/
.menuIcon {
    padding: 2px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2000;
    transition: all .4s ease;
    cursor: pointer;
    color: #3f2800;
    opacity: .1;
}

.closeIcon {
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
    font-size: 50px;
    transition: all .4s ease;
    cursor: pointer;
    color: #3f2800;
    opacity: .1;
}

.closeIcon:hover {
    opacity: 1;
}

.menuIcon:hover {
    opacity: 1;
}

.menuIcon .icofont-navigation-menu {
    font-size: 50px;
}

.hide {
    display: none;
}

.menu {
    display: none;
}

.menu:after {
    content: '';
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.menu:checked~.main-menu {
    transform: translateY(20px) translateX(80px);
    opacity: 1;
}

.menu:checked~.menuIcon {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    color: #754b02;
    opacity: 1;
}

.main-menu {
    position: absolute;
    transform: translateY(22px) translateX(-110px) scaleY(0.1) scaleX(0.1);
    height: 50px;
    transition: all .4s;
    padding: 2px;
    display: flex;
    flex-direction: row;
    z-index: 1001;
    opacity: .1;
}

.option {
    position: relative;
    background: #fff2e1;
    border: 1px solid #dacdbd;
    border-radius: 15%;
    text-align: center;
    margin-left: 4px;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.option:hover {
    box-shadow: 0px 0px 15px;
}

.option a {
    /* vertical-align: middle; */
    color: #754b02;
}

.option:hover a {
    color: rgb(39, 39, 33);
}

.option i {
    display: inline-block;
    font-size: 22px;
    transition: all .2s;
}

.option:hover i {
    font-size: 34px;
}

.minimize i {
    transform: rotate(180deg);
}


@media screen and (max-width: 800px) {
    .menuIcon {
        top: 8px;
        left: 8px;
    }

    .main-menu {
        transform: translateY(4px) translateX(-88px) scaleY(0.08) scaleX(0.08);
    }

    .closeIcon {
        top: 8px;
        right: 8px;
        font-size: 36px;
    }

    .menuIcon .icofont-navigation-menu {
        font-size: 36px;
    }

    .menu:checked~.main-menu {
        transform: translateY(8px) translateX(48px);
    }

    .option {
        width: 36px;
        height: 36px;
    }

    .option i {
        font-size: 30px;
    }

    .option:hover i {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .menuIcon {
        top: 4px;
        left: 4px;
    }

    .closeIcon {
        top: 4px;
        right: 4px;
        font-size: 28px;
    }

    .main-menu {
        transform: translateY(-5px) translateX(-76px) scaleY(0.06) scaleX(0.06);
    }

    .menuIcon .icofont-navigation-menu {
        font-size: 28px;
    }

    .menu:checked~.main-menu {
        transform: translateY(4px) translateX(32px);
        height: 32px;
    }

    .option {
        width: 28px;
        height: 28px;
    }

    .option i {
        font-size: 24px;
    }

    .option:hover i {
        font-size: 24px;
    }
}

/************ Панель настроек ************/
div.menu-pane {
    top: 80px;
    color: black;
    background: #ddd0c0;
    border: 1px solid #cec2b3;
    border-radius: 4px;
    font-size: 1.1rem;
    position: absolute;
    transform: translateX(-105vw);
    transform-origin: (0, 0);
    padding: 8px;
    min-width: 25%;
    min-height: 50%;
    max-width: 90%;
    max-height: 90%;
    transition: 0.4s ease-in-out;
    z-index: 1005;
    overflow-x: none;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    div.menu-pane {
        top: 56px;
    }
}

@media screen and (max-width: 400px) {
    div.menu-pane {
        top: 48px;
    }
}


div.menu-pane-active {
    left: 0;
    transform: translateX(0);
}

.setup {
    background: #fff2e1;
    border: 1px solid #dacdbd;
    border-radius: 4px;
    padding: 4px;
    margin-top: 2px;
}


.option-theme {
    display: flex;
    flex-direction: row;
}

.button-theme {
    flex: 1;
    padding: 4px;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    border: 4px solid lightgrey;
    border-radius: 4px;
}


.button-theme:hover {
    color: white;
    background: gray;
}

.flex {
    flex: 1;
}

.row {
    padding: 4px;
}

.row-left {
    padding: 4px 0 4px 0;
}

.row-next {
    margin-top: 2px;
    padding: 4px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.option-font-select {
    padding: 4px;
    vertical-align: middle;
    flex: 1;
}

.select {
    font-family: 'standard', sans-serif;
    font-size: 1.1rem;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 4px;
}

.bold {
    font-weight: bold;
}

.inherit {
    font-family: inherit;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

label {
    padding: 4px;
    line-height: .8em;
}

.button {
    background: #ddd0c0;
    border: 1px solid #cec2b3;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 0 4px 0 4px;
    padding: 4px;
    font-size: 1rem;
    min-width: 2rem;
}

.button:hover {
    background: #bdb090;
    border: 1px solid #9d9070;
    color: white;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

.button-active,
.button-active:hover {
    border: 1px solid orangered;
}

.day {
    color: black;
    background: #FEFFF0;
}

.sepia {
    color: black;
    background: #EFDECD;
}

.night {
    color: #EFDECD;
    background: black;
}

.smaller {
    font-size: 0.8rem;
}

.larger {
    font-size: 1.5rem;
}

.transparent {
    opacity: 0;
}

.hidden {
    display: none;
}

.text-layout-button {
    min-width: 1rem;
    font-size: 100%;
}

.layout-button {
    min-width: 1rem;
    font-size: 150%;
}

.border {
    border: 1px solid #f1e5d5;
    ;
    border-radius: 4px;
}

.text-container {
    word-wrap: break-word;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    /* display: table; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* background-color: aquamarine; */
}

#rabTitle {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding: 0 0 8px 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
}

#rabExcerpt {
    font-size: 90%;
    font-family: 'standard';
    text-align: left;
    padding: 0 0 8px 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
}


.categories,
.entry {
    font-size: 70%;
    font-family: standard;
}

.text-col img {
    max-width: 100%;
    max-height: 100%;
}

.text-col {
    display: flexbox;
}

.text-col p {
    margin-top: auto;
    margin-bottom: auto;
}

.page {
    overflow-x: auto;
    overflow-y: hidden;
}

.book {
    overflow-x: auto;
    overflow-y: hidden;
}

.paper {
    overflow: auto;
}

.page div.text-col {
    column-width: 80vw;
    column-gap: 0;
    column-rule: 0;
    height: 100%;
    /* padding: 4px 20px 4px 20px; */
    text-indent: 1em;
    text-align: justify;
    line-height: 1.4;
    box-sizing: border-box;
    overflow: hidden;
}

.page div.text-col img {
    max-width: 100%;
    max-height: 90%;
}

.book div.text-col {
    column-width: 30vw;
    column-gap: 30px;
    column-rule: 2px solid rgba(204, 204, 204, 0.5);
    height: 100%;
    /* padding: 4px 20px 4px 20px; */
    text-indent: 1em;
    text-align: justify;
    line-height: 1.4;
    box-sizing: border-box;
    overflow: hidden;
}

.book div.text-col img {
    max-width: 100%;
    max-height: 90%;
}

.paper div.text-col {
    padding: 4px 20% 4px 20%;

}

.num {
    max-width: 4rem;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 4px;
    margin-right: 4px;
    border-width: 1px;
}

.min-button {
    max-width: 4rem;
}

.flex-end {
    justify-content: flex-end;
}

.full-screen {
    cursor: row-resize;
}

.top-click {
    height: 5rem;
}

.bottom-click {
    height: 35%;
}

#notifications {
    position: absolute;
    font-family: 'standard', sans-serif;
    font-size: 80%;
    top: 4px;
    right: 4.1rem;
    overflow: hidden;
    background-color: rgb(245, 239, 219);
    color: rgb(68, 66, 59);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    padding: 1px 8px 1px 8px;
    border-radius: 4px;
}

.translated-original {
    font-size: 80%;
    opacity: .8;
    line-height: 1;
    padding: 4px;
    margin: 0;
    border-top: solid 1px darkgray;
}

.translated {
    opacity: 1;
    padding: 4px;
    margin: 0;
}

.padding-top {
    padding-top: 4px;
}

.text-margin-button {
    min-width: 3rem;
    word-wrap: none;
}

#maxLoad {
    font-size: 18px;
    max-width: 50px;
    border-radius: 4px;
}

.click-pane {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* display: none; */
    pointer-events: visible;
}

.click-table {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    border: none;
    opacity: 0;
    border-collapse: collapse;
}

.click-table td,
.click-table th {
    padding: 0;
}

.click-table td[data="next"] {
    /* cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 477.175 477.175'%3e%3cpath d='M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z'/%3e%3c/svg%3e") 16 16, auto; */
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.773 490.773' style='enable-background:new 0 0 490.773 490.773;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M480.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S485.995,234.72,480.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S443.328,234.72,437.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,234.72,394.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,234.72,352.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S315.328,234.72,309.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,234.72,266.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,234.72,224.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S443.328,192.053,437.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,192.053,394.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,192.053,352.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S315.328,192.053,309.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,192.053,266.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,149.387,394.773,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,149.387,352.107,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S315.328,149.387,309.44,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,149.387,266.773,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,106.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,106.72,352.107,106.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,106.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S315.328,106.72,309.44,106.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,106.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,106.72,266.773,106.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,64.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S315.328,64.053,309.44,64.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,64.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,64.053,266.773,64.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,21.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,21.387,266.773,21.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S443.328,277.387,437.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,277.387,394.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,277.387,352.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S315.328,277.387,309.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,277.387,266.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C405.44,324.832,400.661,320.053,394.773,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C362.773,324.832,357.995,320.053,352.107,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C320.107,324.832,315.328,320.053,309.44,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C277.44,324.832,272.661,320.053,266.773,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,362.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C362.773,367.499,357.995,362.72,352.107,362.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,362.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C320.107,367.499,315.328,362.72,309.44,362.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,362.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C277.44,367.499,272.661,362.72,266.773,362.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,405.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S315.328,405.387,309.44,405.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,405.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,405.387,266.773,405.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,448.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C277.44,452.832,272.661,448.053,266.773,448.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S187.328,234.72,181.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S144.661,234.72,138.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S101.995,234.72,96.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M53.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S59.328,234.72,53.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M10.773,234.72H10.56C4.672,234.72,0,239.499,0,245.387s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S16.661,234.72,10.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,277.387,224.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S187.328,277.387,181.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S144.661,277.387,138.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S101.995,277.387,96.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M53.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S59.328,277.387,53.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M10.773,277.387H10.56c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S16.661,277.387,10.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,192.053,224.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S187.328,192.053,181.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S144.661,192.053,138.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S101.995,192.053,96.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M53.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S59.328,192.053,53.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M10.773,192.053H10.56C4.672,192.053,0,196.832,0,202.72s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S16.661,192.053,10.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") 0 0, auto;    
}

.click-table td[data="prev"] {
    /* cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 477.175 477.175'%3e%3cpath d='M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225 c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z'/%3e%3c/svg%3e") 16 16, auto; */
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.773 490.773' style='enable-background:new 0 0 490.773 490.773;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M10.773,234.72H10.56C4.672,234.72,0,239.499,0,245.387s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S16.661,234.72,10.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M53.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S59.328,234.72,53.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S101.995,234.72,96.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S144.661,234.72,138.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S187.328,234.72,181.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,234.72,224.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,234.72,266.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M53.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S59.328,277.387,53.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S101.995,277.387,96.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S144.661,277.387,138.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S187.328,277.387,181.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,277.387,224.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C106.773,324.832,101.995,320.053,96.107,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C149.44,324.832,144.661,320.053,138.773,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C192.107,324.832,187.328,320.053,181.44,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,320.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C234.773,324.832,229.995,320.053,224.107,320.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,362.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C149.44,367.499,144.661,362.72,138.773,362.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,362.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C192.107,367.499,187.328,362.72,181.44,362.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,362.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C234.773,367.499,229.995,362.72,224.107,362.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,405.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S187.328,405.387,181.44,405.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,405.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,405.387,224.107,405.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,448.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667c0,5.888,4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667C234.773,452.832,229.995,448.053,224.107,448.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M53.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S59.328,192.053,53.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S101.995,192.053,96.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.773,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S144.661,192.053,138.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S187.328,192.053,181.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,192.053,224.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M96.128,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.752,10.667 c5.909,0,10.688-4.779,10.688-10.667S102.016,149.387,96.128,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.795,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.752,10.667 c5.909,0,10.688-4.779,10.688-10.667S144.683,149.387,138.795,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.461,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.752,10.667 c5.909,0,10.688-4.779,10.688-10.667S187.349,149.387,181.461,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,149.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,149.387,224.107,149.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M138.795,106.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.752,10.667 c5.909,0,10.688-4.779,10.688-10.667S144.683,106.72,138.795,106.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.461,106.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.752,10.667 c5.909,0,10.688-4.779,10.688-10.667S187.349,106.72,181.461,106.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,106.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,106.72,224.107,106.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M181.461,64.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.752,10.667 c5.909,0,10.688-4.779,10.688-10.667S187.349,64.053,181.461,64.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,64.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,64.053,224.107,64.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M224.107,21.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S229.995,21.387,224.107,21.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S315.328,234.72,309.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,234.72,352.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,234.72,394.773,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.44,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667c5.909,0,10.667-4.779,10.667-10.667 S443.328,234.72,437.44,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M480.107,234.72h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S485.995,234.72,480.107,234.72z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,192.053,266.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S315.328,192.053,309.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,192.053,352.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,192.053,394.773,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.44,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S443.328,192.053,437.44,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M480.107,192.053h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S485.995,192.053,480.107,192.053z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M266.773,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S272.661,277.387,266.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M309.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S315.328,277.387,309.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M352.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S357.995,277.387,352.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M394.773,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S400.661,277.387,394.773,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.44,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S443.328,277.387,437.44,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M480.107,277.387h-0.213c-5.888,0-10.56,4.779-10.56,10.667s4.885,10.667,10.773,10.667 c5.909,0,10.667-4.779,10.667-10.667S485.995,277.387,480.107,277.387z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") 0 0, auto;
    background-color: dodgerblue;
}

.click-table td[data="top"] {
    background-color: yellowgreen;
}

.click-table td[data="opt"] {
    cursor: url("data:image/svg+xml,%3Csvg fill='%23000000' id='opt_cur' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 490.015 490.015' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cellipse cx='245.005' cy='245.008' rx='52.071' ry='52.102'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M287.654,490.008h-85.292l-7.978-79.705c-10.891-2.839-21.528-6.798-31.762-11.802l-60.85,49.825l-60.103-60.148 l47.718-58.37c-6.305-10.981-11.354-22.649-15.104-34.84L0,287.527v-85.038l74.162-7.425c3.705-12.086,8.785-23.784,15.179-34.915 l-47.673-58.311l60.103-60.148l60.865,49.825c10.249-5.005,20.886-8.964,31.747-11.802l7.978-79.705h85.292l7.963,79.705 c10.861,2.839,21.513,6.798,31.762,11.802l60.85-49.825l60.133,60.148l-47.688,58.311c6.394,11.13,11.474,22.828,15.179,34.915 l74.162,7.425v85.038l-74.281,7.44c-3.75,12.191-8.815,23.874-15.104,34.855l47.733,58.355l-60.133,60.148l-60.85-49.825 c-10.219,5.005-20.871,8.964-31.762,11.802L287.654,490.008z M216.196,474.709h57.623l7.664-76.806l5.378-1.21 c13.102-2.958,25.861-7.679,37.932-14.044l4.497-2.36l57.922,47.419l40.532-40.547l-45.821-56.04l2.868-4.631 c7.769-12.565,13.715-26.235,17.659-40.637l1.389-5.065l70.875-7.096v-57.369l-70.785-7.081l-1.374-5.08 c-3.855-14.193-9.816-27.878-17.719-40.681l-2.853-4.646l45.761-55.98l-40.532-40.547l-57.922,47.419l-4.482-2.36 c-12.131-6.379-24.89-11.1-37.948-14.044l-5.378-1.21l-7.664-76.806h-57.623l-7.679,76.806l-5.378,1.21 c-13.043,2.943-25.801,7.679-37.932,14.044l-4.482,2.36l-57.937-47.419l-40.532,40.547l45.776,55.98l-2.854,4.646 c-7.903,12.803-13.864,26.488-17.719,40.681l-1.374,5.08l-70.785,7.081v57.369l70.875,7.096l1.39,5.065 c3.944,14.387,9.875,28.057,17.644,40.637l2.854,4.646l-45.806,56.025l40.532,40.547l57.922-47.419l4.497,2.36 c12.086,6.365,24.845,11.085,37.932,14.044l5.378,1.21L216.196,474.709z M245,359.761c-63.241,0-114.679-51.483-114.679-114.754 c0-63.271,51.438-114.754,114.679-114.754c63.241,0,114.694,51.483,114.694,114.754C359.694,308.278,308.241,359.761,245,359.761z M245,145.552c-54.8,0-99.38,44.611-99.38,99.455c0,54.844,44.581,99.455,99.38,99.455c54.8,0,99.396-44.611,99.396-99.455 C344.396,190.163,299.8,145.552,245,145.552z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 0 0, auto;    
    background-color: violet;
}

.skiptranslate {
    width: 100%;
    height: 28px;
}

.language {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: bold;
    background: white;
    border-radius: 2px;
    font-size: 50%;
}

.center {
    text-align: center;
    justify-content: center;
}

.relative {
    position: relative;
}

.default-button {
    text-align: center;
    font-weight: normal;
}


@media screen and (max-width: 800px) {

    body {
        font-family: 'standard', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    div.menu-pane {
        font-size: .9rem;
    }

    .flex-row {
        line-height: 1;
    }
}

@media screen and (max-width: 400px) {

    body {
        font-family: 'standard', sans-serif;
        margin: 0;
        padding: 0;
        font-size: .8rem;
    }

    div.menu-pane {
        font-size: .9rem;
    }

    .flex-row {
        line-height: 1;
    }
}